<script id="homeTemplate" type="text/x-underscore-template">
  <div class="alert info fade in" data-alert="alert">
    <a class="close" data-dismiss="alert">×</a>
    <strong>Welcome to the dashboard!</strong> This is where you can go to post new content on your site.  It also collects all of your recent posts in one place for easy editing.  To view and edit only a specific type of post, click one of the links along the top of the page.
  </div>

  <div class="page-header">
    <h1>
      Post something new
      <small>Select a post type from the tabs below</small>
    </h1>
  </div>

  <ul id="posttype-tabs" class="nav nav-tabs">
    <% Narcissus.postTypes.each(function(postType) { %>
      <li class="posttype-link<% if (postType.get('name') == currentPostType.get('name')) { %> active<% } %>">
        <a href="/dashboard/<%= postType.get('name') %>/" ><%= postType.get('name') %></a>
      </li>
    <% }); %>
  </ul>

  <div id="posttype-content" class="tab-content"></div>

  <% if (Narcissus.posts.length) { %>
    <div class="page-header">
      <h1>
        Recent activity
        <small>Here's what you've been up to lately</small>
      </h1>
    </div>

    <div id="recent-activity">
      <div class="row">
        <% Narcissus.posts.each(function(post, i) { %>
        <div class="span4">
          <h3>
            <%= post.get('display_title') %>
            <small><abbr class="created-date" title="<%= moment(parseInt(post.get('created_date'))) %>"><%= moment(parseInt(post.get('created_date'))).fromNow() %></abbr></small>
          </h3>
          <% if (post.get('teaser')) { %><p><%= post.get('teaser') %></p><% } %>
          <p><a class="btn" href="<%= post.url %>">Edit post &raquo;</a></p>
        </div>
        <% }); %>
      </div>
    </div>
  <% } %>
</script>

<script type="text/javascript">
  Narcissus.homeTemplate = _.template($('#homeTemplate').text());
</script>
