<script id="postDetailTemplate" type="text/x-underscore-template">

  <div class="page-header">
    <h1>
      Detail page
      <small>Select a post type from the tabs below</small>
    </h1>
  </div>

  <ul id="posttype-tabs" class="nav nav-tabs">
    <% Narcissus.postTypes.each(function(postType) { %>
      <li class="posttype-link<% if (postType.get('name') == currentPostType.get('name')) { %> active<% } %>">
        <a href="/dashboard/<%= postType.get('name') %>/" ><%= postType.get('name') %></a>
      </li>
    <% }); %>
  </ul>

  <div id="post-content" class="tab-content"></div>

  <% if (Narcissus.posts.length) { %>
    <div class="page-header">
      <h1>
        Recent activity
        <small>Here's what you've been up to lately</small>
      </h1>
    </div>

    <div id="recent-activity">
      <div class="row">
        <% Narcissus.posts.each(function(post, i) { %>
        <div class="span4">
          <h3>
            <%= post.get('display_title') %>
            <small>
              <%= Narcissus.postTypes.getFromPostTypeName(post.get('posttype')).get('title') %>
              posted <%= moment(parseInt(post.get('created_date'))).fromNow() %>
            </small>
          </h3>
          <% if (post.get('teaser')) { %><p><%= post.get('teaser') %></p><% } %>
          <p><a class="btn" href="<%= post.id %>/">Edit post &raquo;</a></p>
        </div>
        <% }); %>
      </div>
    </div>
  <% } %>
</script>

<script type="text/javascript">
  Narcissus.postDetailTemplate = _.template($('#postDetailTemplate').text());
</script>
