{% load url from future %}

<h2>{% block content_title %}{% endblock %}</h2>

{% with posttype.form_instance as form %}
<form class="form-stacked" id="{{ name }}-form" method="post" action="{% url 'narcissus-new-post' name %}">
  {% csrf_token %}

  <div class="row">

    <div class="span8">
      <div class="well">
        {% block content_fields %}{% endblock %}
      </div>

      <fieldset class="outside-well">

        <div class="clearfix">
          {{ form.slug.label_tag }}
          <div class="input-prepend">
            <span class="add-on">/{{ name }}/{% now "Y/m/d" %}/</span>
            <input class="post-field" name="{{ form.slug.name }}" id="{{ form.slug.auto_id }}" type="text" />
          </div>
        </div>

        <div class="clearfix">
          {{ form.tags.label_tag }}
          <div class="input">
            <input class="post-field" name="{{ form.tags.name }}" id="{{ form.tags.auto_id }}" type="text" />
          </div>
        </div>

      </fieldset>
    </div>

    <div class="span4">

      <fieldset>
        <legend>Details</legend>

        <div class="clearfix">
          {{ form.status.label_tag }}
          <div class="input">
            {{ form.status }}
          </div>
        </div>

        <div class="clearfix">
          {{ form.language.label_tag }}
          <div class="input">
            {{ form.language }}
          </div>
        </div>

        {% block extra_details %}{% endblock %}

      </fieldset>

      <fieldset>
        <legend>Share this update?</legend>
        <div class="clearfix">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" name="share-with" value="twitter">
              <span>Twitter</span>
            </label>
            <label class="checkbox">
              <input type="checkbox" name="share-with" value="facebook">
              <span>Facebook</span>
            </label>
            <label class="checkbox">
              <input type="checkbox" name="share-with" value="google">
              <span>Google+</span>
            </label>
          </div>
        </div>
      </fieldset>

    </div>

  </div>

  <div class="row actions submit-post" id="{{name}}-submit-post">
    <p>
      <button type="submit" class="btn large primary">Post</button>
      <button type="reset" class="btn large">Cancel</button>
    </p>
  </div>

</form>
{% endwith %}

{% block content_js %}{% endblock %}
